In [1]:
import pandas as pd
import numpy as np
import fiona
from utils.loc_utils import *

In [52]:
data_base_path = './data/taxi-data/'
taxi_data_path = data_base_path+'yellow_tripdata_2019-06.csv'
taxi_zones_path = './data/taxi-data/zones/taxi_zones.shp'
save_path = './result/'

# Create Count CSV

In [53]:
taxi_data = pd.read_csv(taxi_data_path)
taxi_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-06-01 00:55:13,2019-06-01 00:56:17,1,0.0,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
1,1,2019-06-01 00:06:31,2019-06-01 00:06:52,1,0.0,1,N,262,263,2,2.5,3.0,0.5,0.00,0.0,0.3,6.30,2.5
2,1,2019-06-01 00:17:05,2019-06-01 00:36:38,1,4.4,1,N,74,7,2,17.5,0.5,0.5,0.00,0.0,0.3,18.80,0.0
3,1,2019-06-01 00:59:02,2019-06-01 00:59:12,0,0.8,1,N,145,145,2,2.5,1.0,0.5,0.00,0.0,0.3,4.30,0.0
4,1,2019-06-01 00:03:25,2019-06-01 00:15:42,1,1.7,1,N,113,148,1,9.5,3.0,0.5,2.65,0.0,0.3,15.95,2.5

In [56]:
pu_loc = taxi_data['PULocationID']
do_loc = taxi_data['DOLocationID']

In [57]:
pu_df = create_loc_counts_df(pu_loc,taxi_zones_path)
do_df = create_loc_counts_df(do_loc,taxi_zones_path)

/home/rewu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: FionaDeprecationWarning: Collection.__next__() is buggy and will be removed in Fiona 2.0. Switch to `next(iter(collection))`.
  if sys.path[0] == '':

In [58]:
pu_save_name = 'pu_count_june.csv'
do_save_name = 'do_count_june.csv'

pu_df.to_csv(save_path+pu_save_name,index=False)
do_df.to_csv(save_path+do_save_name,index=False)

#  OD Table

In [60]:
od = np.zeros((pu_loc.max()+1,do_loc.max()+1))
for pu, do in zip(pu_loc,do_loc):
    od[pu,do] +=1

In [61]:
od_path = "od_june.npy"
np.save(save_path+od_path,od)