In [1]:
import numpy as np
import pandas as pd

In [2]:
weater_path = './data/weather-data/weather.csv'

In [3]:
weater_df = pd.read_csv(weater_path)
weater_df['DATE'] = pd.DatetimeIndex(weater_df['DATE'])

# combine weather df with taxi df

In [4]:
data_base_path = './data/taxi-data/'
taxi_data_path = data_base_path+'yellow_tripdata_2019-01.csv'

In [5]:
taxi_data = pd.read_csv(taxi_data_path)
taxi_data['tpep_pickup_datetime'] = pd.DatetimeIndex(taxi_data['tpep_pickup_datetime'] ) 
taxi_data['tpep_dropoff_datetime']= pd.DatetimeIndex(taxi_data['tpep_dropoff_datetime'] )

In [6]:
taxi_data['DATE'] = pd.DatetimeIndex(taxi_data['tpep_pickup_datetime'].dt.date)
taxi_data['tpu_hour'] = taxi_data['tpep_pickup_datetime'].dt.hour

In [7]:
sum_df = pd.merge(taxi_data, weater_df, on='DATE', how='inner')

In [8]:
sum_df['trip_time'] = sum_df['tpep_dropoff_datetime']-sum_df['tpep_pickup_datetime']
sum_df['trip_time'] = sum_df['trip_time'].dt.total_seconds().div(60).astype(int)

In [9]:
sum_df['rate'] =sum_df['total_amount']/sum_df['trip_time']

In [10]:
useless_columns = ['VendorID','passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
                   'payment_type', 'fare_amount', 'extra','mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
                  'congestion_surcharge','AWND','SNWD', 'TAVG','WDF2', 'WDF5',
       'WSF2', 'WSF5', 'WT01', 'WT02', 'WT03', 'WT06', 'WT08','STATION', 'NAME',]

In [11]:
sum_df_clean = sum_df.drop(columns=useless_columns)

In [12]:
sum_df_clean.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,PULocationID,DOLocationID,total_amount,DATE,tpu_hour,PRCP,SNOW,TMAX,TMIN,trip_time,rate
0,2019-01-01 00:46:40,2019-01-01 00:53:20,151,239,9.95,2019-01-01,0,0.06,0.0,58,39,6,1.658333
1,2019-01-01 00:59:47,2019-01-01 01:18:59,239,246,16.30,2019-01-01,0,0.06,0.0,58,39,19,0.857895
2,2019-01-01 00:21:28,2019-01-01 00:28:37,163,229,9.05,2019-01-01,0,0.06,0.0,58,39,7,1.292857
3,2019-01-01 00:32:01,2019-01-01 00:45:39,229,7,18.50,2019-01-01,0,0.06,0.0,58,39,13,1.423077
4,2019-01-01 00:57:32,2019-01-01 01:09:32,141,234,13.00,2019-01-01,0,0.06,0.0,58,39,12,1.083333

In [13]:
save_path = './result/weater_taxi_jan.csv'
sum_df_clean.to_csv(save_path)